{% extends "base.html" %}

{% block content %}
<div class="playlist-container">
    {% if object_list %}
        {% for playlist in object_list %}
            <a href="{% url 'app:player' playlist.id %}" class="no-link-decoration">
                <div class="playlist-header">
                    <h2>{{ playlist.title }}</h2>
                    <p>Playlist count: {{ playlist.get_songs_count }}</p>
                    <p>Total time: {{ playlist.get_sum_time }}</p>

                    <form method="POST" action="{% url 'app:playlistdelete' playlist.id %}">
                        {% csrf_token %}<input type="submit" value="Delete playlist" class="element-delete"><p></p>
                    </form>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <div class="empty-playlist">
            <p>You don't have any playlists, <a href="{% url 'app:createplaylist' %}">add</a> and start listening!</p>
        </div>
    {% endif %}
</div>
{% endblock content %}