{% extends "base.html" %}
{% load static %}
{% block content %}
<ul class="music-list">
    <div class="scroll-to-top" id="scrollToTopBtn">
        <span>&uarr;</span>
    </div>

    {% for element in element_list %}
        <a href="{% url 'app:player' element.playlist.id %}" class="no-link-decoration">
            <div class="playlist-header">
                <h2>{{ element.playlist.title }}</h2>
                <p>Playlist count: {{ element.playlist.get_songs_count }}</p>
                <p>Total time: {{ element.playlist.get_sum_time }}</p>

                <form method="POST" action="{% url 'app:playlistdelete' element.playlist.id %}">
                    {% csrf_token %}<input type="submit" value="Delete playlist" class="element-delete"><p></p>
                </form>
            </div>
        </a>

        {% for song in element.songs %}
            <li class="element-li">
                <div class="element-img">
                    <img src="/media/images/logo.png" alt="music-logo" width="90px" height="90px">
                </div>

                <h1 class="element-header">
                    {{ song.title }}
                </h1>

                <p class="element-time">
                    {{ song.time }}
                </p>

                <form method="POST" action="{% url 'app:delete' song.id %}">
                    {% csrf_token %}<input type="submit" value="Delete" class="element-delete">
                </form>

                <audio controls muted class="element-audio">
                    <source src="{{ song.mp3_file.url }}" type="audio/mpeg">
                    Your browser doesn't support audio.
                </audio>

                <button class="play-button" type="button" name="{{ song.mp3_file.url }}" data-title="{{ song.title }}"
                    data-time="{{ song.time }}">Play</button>
            </li>
        {% endfor %}
    {% endfor %}

    {% if element_list %}
        <div class="player-dashboard">
            <p class="player-dashboard-title">title</p>
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
            <p class="player-dashboard-timer">x/timer</p>
            <button class="play-stop-button">Play</button>
        </div>
    {% else %}
        <div class="empty-playlist">
            <p>Your playlist is empty, <a href="{% url 'app:addmusic' %}">add</a> music and start listening!</p>
        </div>
    {% endif %}
</ul>

<script src="{% static 'js/scroll.js' %}"></script>
<script src="{% static 'js/displayPlayer.js' %}"></script>

{% endblock content %}
